.row {
  display: flex;
  flex-wrap: wrap;

  &--gutters {
    margin-right: -60px;

    & > div {
      padding-right: 60px;
    }
  }

  &--gutters-large {
    margin-right: -100px;

    & > div {
      padding-right: 100px;
    }
  }

  &--gutters-small {
    margin-right: -45px;

    & > div {
      padding-right: 45px;
    }
  }

  &--t-padding {
    padding-top: 80px;
  }
}

.col {
  flex: 1 0 100%;

  &--b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &--b-margin-until-medium {
      margin-bottom: 0;
    }

    &--medium-4 {
      flex-basis: 33.33333%;

      &--larger {
        flex-basis: 37%;
      }
    }

    &--medium-6 {
      flex-basis: 50%;
    }

    &--medium-8 {
      flex-basis: 66.66666%;

      &--smaller {
        flex-basis: 63%;
      }
    }
  }

  @mixin atLarge {
    &--b-margin-until-large {
      margin-bottom: 0;
    }

    &--large-4 {
      flex-basis: 33.33333%;

      &--larger {
        flex-basis: 37%;
      }
    }

    &--large-6 {
      flex-basis: 50%;
    }

    &--large-8 {
      flex-basis: 66.66666%;

      &--smaller {
        flex-basis: 63%;
      }
    }
  }
}
